db.sqlite3

# Python
*.pyc
*.pyo
*.pyd
.Python

*.pot
*.log
*.egg-info/

# Local database files
*.sqlite3
*.db
*.sql
*.dump

# Database backups
*.bak
*.backup

# Local database migrations
*/migrations/*.py
!*/migrations/__init__.py

# Environment-specific database configuration
.env.local
.env.development.local

insert_statements_with_data.txt

# Local settings
local_settings.py
.env